body {
	background-color:#ffffff; 
    /* background-color:#f3f3f3; 
	background-image: url("background.png"); */
	background-size: 100%;
	background-position: 0% 70%;
	background-repeat: repeat-y;
	background-attachment: fixed;
}

.titledesc {
    font-size:1.3em;
	/* color: #777; */
    color: #000;   
	margin-top: 20px;
	margin-bottom: 20px;
}

.footnote {
	font-size:1.2em;
	/* color: #777; */
    color: #777;   
	margin-top: 30px;
	margin-bottom: 20px;
}

.title{
    font-size:2.2em;
	font-weight: bold;
}

.desc {
	margin-top: 20px;
	color: #777;
}

.spacer {
    margin-top:30px;
	margin-bottom: 30px;
}

.spacer-md {
    margin-top:20px;
}

.border{
    border-width:1px;
    border-style: solid;
    border-color: #000;
}

.statement {
    font-size:1.6em;
    color: #777;
}

.thumb {
	overflow: hidden;
}

.statement_sub {
    font-size:1.2em;
    color: #000;
}

.topic {
	margin-top: 30px;
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: #ddd;
    padding-top:20px;
    min-height:160px;
}
.cont {
    padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	width: 80%;
}

.center-block {margin: 0 auto;}


.footer {
	margin-bottom: 50px;
}

.leftline {
    border-left-width:1px;
    border-left-style: solid;
    border-left-color: #ddd;
}


	
.button {
background-image: -moz-linear-gradient(top, #e60000, #800000);
	background-color: #cc0000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
	width: 300px;
	height: 150px;
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #800000, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #800000, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #800000, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 25px;
    color: #fff;
}

.button span {
	text-align: center; 
	width: 300px;
	height: 150px;
    display: inline-block;
    padding: 20px 30px;
    background-color: #cc0000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(338, 90%, 80%, .8)), to(hsla(338, 90%, 70%, .2)));
    background-image: -webkit-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -moz-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    background-image: -o-linear-gradient(hsla(338, 90%, 80%, .8), hsla(338, 90%, 70%, .2));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
    background-color: #e60000;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #800000, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #800000, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #800000, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.button {
border: 1px solid #979797; 
}

.button.icon {
padding-left: 1px;		
}

.button.icon span{
padding-left: 36px;
background: url(rcrc.gif) no-repeat 0 -4px;
}

.button.icon.pos span {
background-position: 200px 90px;     /* x,y- position it in the button   210px 90px */
background-size: 80px, 50px;
}

.logo {
	width:26px;
	height:16px;
}


